# Užitečné funkce standardní knihovny

## Co je to standardní knihovna?

**Standardní knihovna** (standard library) je soubor funkcí a nástrojů, které jsou součástí Pythonu a můžete je používat bez nutnosti instalace dalších balíčků.

Tyto funkce jsou vždy dostupné a usnadňují běžné programátorské úkoly.

## Funkce pro práce s čísly

Python nabízí několik užitečných funkcí pro matematické operace.

### Funkce abs() - absolutní hodnota

Funkce `abs()` vrací **absolutní hodnotu** čísla (bez znaménka).

In [1]:
# Absolutní hodnota záporného čísla
vysledek = abs(-15)
print(f"abs(-15) = {vysledek}")

abs(-15) = 15

In [2]:
# Absolutní hodnota kladného čísla
vysledek = abs(42)
print(f"abs(42) = {vysledek}")

abs(42) = 42

In [3]:
# Praktické použití - výpočet rozdílu
teplota_rano = 5
teplota_vecer = -3
rozdil = abs(teplota_rano - teplota_vecer)
print(f"Teplotní rozdíl: {rozdil} °C")

Teplotní rozdíl: 8 °C

### Funkce min() - minimum

Funkce `min()` vrací **nejmenší hodnotu** z daných čísel nebo prvků v kolekci.

In [4]:
# Minimum ze dvou čísel
nejmensi = min(10, 5)
print(f"min(10, 5) = {nejmensi}")

min(10, 5) = 5

In [6]:
# Minimum z více čísel
nejmensi = min(15, 8, 23, 4, 16)
print(f"min(15, 8, 23, 4, 16) = {nejmensi}")

min(15, 8, 23, 4, 16) = 4

In [7]:
# Minimum v seznamu
teploty = [18, 22, 15, 25, 19]
nejnizsi_teplota = min(teploty)
print(f"Nejnižší teplota: {nejnizsi_teplota} °C")

Nejnižší teplota: 15 °C

### Funkce max() - maximum

Funkce `max()` vrací **největší hodnotu** z daných čísel nebo prvků v kolekci.

In [8]:
# Maximum ze dvou čísel
nejvetsi = max(10, 5)
print(f"max(10, 5) = {nejvetsi}")

max(10, 5) = 10

In [9]:
# Maximum z více čísel
nejvetsi = max(15, 8, 23, 4, 16) # tuple
print(f"max(15, 8, 23, 4, 16) = {nejvetsi}")

max(15, 8, 23, 4, 16) = 23

In [10]:
# Maximum v seznamu
skore = [85, 92, 78, 95, 88] # list
nejlepsi_skore = max(skore)
print(f"Nejlepší skóre: {nejlepsi_skore} bodů")

Nejlepší skóre: 95 bodů

### Funkce sum() - součet

Funkce `sum()` vrací **součet všech prvků** v seznamu nebo jiné kolekci.

In [11]:
# Součet čísel v seznamu
cisla = [10, 20, 30, 40]
soucet = sum(cisla)
print(f"Součet: {soucet}")

Součet: 100

In [12]:
# Praktické použití - celková cena
ceny = [150, 200, 75, 125]
celkova_cena = sum(ceny)
print(f"Celková cena: {celkova_cena} Kč")

Celková cena: 550 Kč

#### ÚLOHA / DOPLNĚNÍ

Výpočet průměru pomocí sum() a len(), 
výsledek zobrazte na 2 desetinná místa

Průměrná známka: 3.17

In [13]:
# Výpočet průměru pomocí sum() a len(), výsledek zobrazte na 2 desetinná místa
znamky = [1, 2, 1, 3, 7, 5]
prumer = sum(znamky)/len(znamky)
print(f"Průměrná známka: {prumer:.2f}")

Průměrná známka: 3.17

### Funkce round() - zaokrouhlení

Funkce `round()` **zaokrouhluje desetinné číslo** na zadaný počet desetinných míst.

In [17]:
round(3.893, 1)

3.9

In [14]:
# Zaokrouhlení na celé číslo
vysledek = round(3.7)
print(f"round(3.7) = {vysledek}")

vysledek = round(3.4)
print(f"round(3.4) = {vysledek}")

round(3.7) = 4
round(3.4) = 3

In [18]:
# Zaokrouhlení na 2 desetinná místa
pi = 3.14159265
vysledek = round(pi, 2)
print(f"round(3.14159265, 2) = {vysledek}")

round(3.14159265, 2) = 3.14

In [19]:
# Praktické použití - ceny
cena_s_dph = 123.456789
cena_zaokrouhlena = round(cena_s_dph, 2)
print(f"Cena: {cena_zaokrouhlena} Kč")

Cena: 123.46 Kč

## Funkce pro práci s kolekcemi

Python nabízí funkce, které pracují se seznamy, n-ticemi a dalšími kolekcemi dat.

### Funkce len() - délka

Funkce `len()` vrací **počet prvků** v seznamu, délku stringu nebo velikost jiné kolekce.

In [20]:
# Délka seznamu
ovoce = ["jablko", "hruška", "banán", "pomeranč"]
pocet = len(ovoce)
print(f"Počet druhů ovoce: {pocet}")

Počet druhů ovoce: 4

In [21]:
# Délka stringu
text = "Python"
delka = len(text)
print(f"Délka textu '{text}': {delka} znaků")

Délka textu 'Python': 6 znaků

In [22]:
# Prázdný seznam má délku 0
prazdny_seznam = []
print(f"Délka prázdného seznamu: {len(prazdny_seznam)}")

Délka prázdného seznamu: 0

### Funkce sorted() - řazení

Funkce `sorted()` vrací **seřazený nový seznam** (nezmění původní seznam).

In [23]:
# Řazení čísel vzestupně (od nejmenšího)
cisla = [5, 2, 8, 1, 9]
serazene = sorted(cisla)
print(f"Původní: {cisla}")
print(f"Seřazené: {serazene}")

Původní: [5, 2, 8, 1, 9]
Seřazené: [1, 2, 5, 8, 9]

In [24]:
# Řazení sestupně (od největšího)
cisla = [5, 2, 8, 1, 9]
serazene = sorted(cisla, reverse=True)
print(f"Seřazené sestupně: {serazene}")

Seřazené sestupně: [9, 8, 5, 2, 1]

In [25]:
# Řazení slov abecedně
jmena = ["Dana", "Anna", "Petr", "Karel"]
serazena = sorted(jmena)
print(f"Seřazená jména: {serazena}")

Seřazená jména: ['Anna', 'Dana', 'Karel', 'Petr']

### Funkce reversed() - obrácení pořadí

Funkce `reversed()` vrací **iterátor s obráceným pořadím prvků**. Pro získání seznamu musíme použít `list()`.

In [26]:
cisla = [1, 2, 3, 4, 5]

In [30]:
list(reversed(cisla))

[5, 4, 3, 2, 1]

In [31]:
# Obrácení pořadí prvků
cisla = [1, 2, 3, 4, 5]
obracene = list(reversed(cisla))

print(f"Původní: {cisla}")
print(f"Obrácené: {obracene}")

Původní: [1, 2, 3, 4, 5]
Obrácené: [5, 4, 3, 2, 1]

In [34]:
slovo = "Python"
list(reversed(slovo))

['n', 'o', 'h', 't', 'y', 'P']

In [35]:
reversed(slovo)

In [37]:
''.join(reversed(slovo))

'nohtyP'

In [38]:
# Obrácení stringu
slovo = "Python"
obracene = ''.join(reversed(slovo))
print(f"Původní: {slovo}")
print(f"Obrácené: {obracene}")

Původní: Python
Obrácené: nohtyP

## Funkce type() - zjištění datového typu

Funkce `type()` vrací **datový typ** dané proměnné nebo hodnoty.

In [ ]:
# Zjištění typu různých hodnot
print(type(42))           # int
print(type(3.14))         # float
print(type("text"))       # str
print(type(True))         # bool
print(type([1, 2, 3]))    # list

In [ ]:
# Praktické použití - kontrola typu
hodnota = "123"
print(f"Hodnota: {hodnota}")
print(f"Typ: {type(hodnota)}")

# Převod na int
cislo = int(hodnota)
print(f"Po převodu: {cislo}")
print(f"Typ: {type(cislo)}")

## Kombinování funkcí

Funkce můžeme **kombinovat** a vytvářet tak složitější operace.

#### Součet absolutních hodnot

In [39]:
cisla = [-5, 10, -3, 7, -2]
print(f"Čísla: {cisla}")

Čísla: [-5, 10, -3, 7, -2]

In [40]:
absolutni = [abs(x) for x in cisla]  # Absolutní hodnoty ! jenom ukazka
absolutni

[5, 10, 3, 7, 2]

In [41]:
soucet = sum(absolutni)
soucet

27

#### Průměr z top 3 hodnot

In [42]:
skore = [78, 92, 85, 95, 88, 76, 90]

In [43]:
serazene = sorted(skore, reverse=True)
serazene

[95, 92, 90, 88, 85, 78, 76]

In [44]:
top_3 = serazene[:3]
top_3

[95, 92, 90]

In [45]:
prumer = sum(top_3) / len(top_3)
print(f"Průměr top 3: {round(prumer, 2)}")

Průměr top 3: 92.33

#### ÚLOHA - STATISTIKA TEPLOT

Teploty za týden: [18, 22, 19, 25, 17, 23, 20]
Počet měření: 7
Minimální teplota: 17 °C
Maximální teplota: 25 °C
Průměrná teplota: 20.6 °C

In [53]:
# Statistika teplot
teploty = [18, 22, 19, 25, 17, 23, 20]

print(f"Teploty za týden: {teploty}")
print(f"Počet měření: {len(teploty)}")
print(f"Minimální teplota: {min(teploty)} °C")
print(f"Maximální teplota: {max(teploty)} °C")
print(f"Průměrná teplota: {sum(teploty)/len(teploty)} °C")

Teploty za týden: [18, 22, 19, 25, 17, 23, 20]
Počet měření: 7
Minimální teplota: 17 °C
Maximální teplota: 25 °C
Průměrná teplota: 20.571428571428573 °C

## Cvičení

Nyní si vyzkoušejte sami:

### Úkol 1: Absolutní hodnota

Máte proměnné `a = -15` a `b = 8`. Vypočítejte a vypište absolutní hodnotu jejich rozdílu.

In [1]:
# Váš kód zde
a = -15
b = 8
abs(a - b)

23

### Úkol 2: Minimum a maximum

Máte seznam cen: `ceny = [250, 180, 320, 150, 290]`

Vypište nejlevnější a nejdražší cenu.

In [2]:
# Váš kód zde
ceny = [250, 180, 320, 150, 290]
min(ceny)

150

In [3]:
max(ceny)

320

### Úkol 3: Součet a průměr

Máte seznam bodů ze zkoušek: `body = [85, 92, 78, 90, 88]`

Vypočítejte a vypište:
1. Celkový počet bodů
2. Průměrný počet bodů (zaokrouhlený na 2 desetinná místa)

In [4]:
# Váš kód zde
body = [85, 92, 78, 90, 88]
sum(body)

433

In [7]:
round(sum(body)/len(body),2)

86.6

### Úkol 4: Zaokrouhlování

Máte cenu s DPH: `cena = 1234.5678` Kč

Zaokrouhlete ji na:
1. Celé koruny
2. 2 desetinná místa (haléře)

In [8]:
# Váš kód zde
cena = 1234.5678
round(cena)

1235

In [9]:
round(cena, 2)

1234.57

### Úkol 5: Délka seznamu a stringu

Máte seznam měst: `mesta = ["Praha", "Brno", "Ostrava", "Plzeň"]`

Vypište:
1. Kolik měst je v seznamu
2. Kolik znaků má název prvního města v seznamu

In [10]:
# Váš kód zde
mesta = ["Praha", "Brno", "Ostrava", "Plzeň"]
len(mesta)

4

In [11]:
len(mesta[0])

5

### Úkol 6: Řazení

Máte seznam známek: `znamky = [2, 1, 3, 1, 2, 4, 1, 3]`

Vypište:
1. Známky seřazené od nejlepší (1) po nejhorší
2. Známky seřazené od nejhorší po nejlepší

In [14]:
# Váš kód zde
znamky = [2, 1, 3, 1, 2, 4, 1, 3]
znamky.sort()
znamky

[1, 1, 1, 2, 2, 3, 3, 4]

In [15]:
znamky.sort(reverse=True)
znamky

[4, 3, 3, 2, 2, 1, 1, 1]

### Úkol 7: Obrácení pořadí

Máte seznam dnů v týdnu: `dny = ["pondělí", "úterý", "středa", "čtvrtek", "pátek"]`

Vypište dny v obráceném pořadí.

In [30]:
# Váš kód zde
dny = ["pondělí", "úterý", "středa", "čtvrtek", "pátek"]
list(reversed(dny))

['pátek', 'čtvrtek', 'středa', 'úterý', 'pondělí']

### Úkol 8: Statistika nákupu

Máte seznam cen položek v nákupním košíku: `kosik = [45.50, 120.00, 33.25, 89.90, 156.00]`

Vypočítejte a vypište:
1. Počet položek
2. Celkovou cenu
3. Nejlevnější položku
4. Nejdražší položku
5. Průměrnou cenu na položku (zaokrouhlenou na 2 des. místa)

In [17]:
# Váš kód zde
kosik = [45.50, 120.00, 33.25, 89.90, 156.00]
len(kosik)

5

In [18]:
sum(kosik)

444.65

In [19]:
min(kosik)

33.25

In [20]:
max(kosik)

156.0

In [21]:
round(sum(kosik)/len(kosik), 2)

88.93

### Úkol 9: Analýza teplot

Máte teploty naměřené během dne v °C: `teploty = [15, 18, 22, 25, 24, 21, 17]`

Vypočítejte:
1. Minimální teplotu
2. Maximální teplotu
3. Teplotní rozdíl (max - min)
4. Průměrnou teplotu (zaokrouhlenou na 1 des. místo)
5. Teploty seřazené od nejnižší po nejvyšší

In [22]:
# Váš kód zde
teploty = [15, 18, 22, 25, 24, 21, 17]
min(teploty)

15

In [23]:
max(teploty)

25

In [24]:
max(teploty)-min(teploty)

10

In [25]:
round(sum(teploty)/len(teploty), 1)

20.3

In [26]:
teploty.sort()
teploty

[15, 17, 18, 21, 22, 24, 25]

In [ ]:
# Váš kód zde

## Shrnutí

V tomto notebooku jste se naučili:

### Funkce pro práci s čísly:
- `abs()` - absolutní hodnota čísla
- `min()` - nejmenší hodnota
- `max()` - největší hodnota
- `sum()` - součet prvků v kolekci
- `round()` - zaokrouhlení na zadaný počet desetinných míst

### Funkce pro práci s kolekcemi:
- `len()` - počet prvků (délka)
- `sorted()` - seřazení prvků (vzestupně nebo sestupně)
- `reversed()` - obrácení pořadí prvků

### Pomocná funkce:
- `type()` - zjištění datového typu

### Důležité:
- Tyto funkce jsou součástí **standardní knihovny** Pythonu
- Jsou **vždy dostupné** bez nutnosti importu