# Užitečné funkce standardní knihovny

## Co je to standardní knihovna?

**Standardní knihovna** (standard library) je soubor funkcí a nástrojů, které jsou součástí Pythonu a můžete je používat bez nutnosti instalace dalších balíčků.

Tyto funkce jsou vždy dostupné a usnadňují běžné programátorské úkoly.

## Funkce pro práce s čísly

Python nabízí několik užitečných funkcí pro matematické operace.

### Funkce abs() - absolutní hodnota

Funkce `abs()` vrací **absolutní hodnotu** čísla (bez znaménka).

In [ ]:
# Absolutní hodnota záporného čísla
vysledek = abs(-15)
print(f"abs(-15) = {vysledek}")

In [ ]:
# Absolutní hodnota kladného čísla
vysledek = abs(42)
print(f"abs(42) = {vysledek}")

In [ ]:
# Praktické použití - výpočet rozdílu
teplota_rano = 5
teplota_vecer = -3
rozdil = abs(teplota_rano - teplota_vecer)
print(f"Teplotní rozdíl: {rozdil} °C")

### Funkce min() - minimum

Funkce `min()` vrací **nejmenší hodnotu** z daných čísel nebo prvků v kolekci.

In [ ]:
# Minimum ze dvou čísel
nejmensi = min(10, 5)
print(f"min(10, 5) = {nejmensi}")

In [ ]:
# Minimum z více čísel
nejmensi = min(15, 8, 23, 4, 16)
print(f"min(15, 8, 23, 4, 16) = {nejmensi}")

In [ ]:
# Minimum v seznamu
teploty = [18, 22, 15, 25, 19]
nejnizsi_teplota = min(teploty)
print(f"Nejnižší teplota: {nejnizsi_teplota} °C")

### Funkce max() - maximum

Funkce `max()` vrací **největší hodnotu** z daných čísel nebo prvků v kolekci.

In [ ]:
# Maximum ze dvou čísel
nejvetsi = max(10, 5)
print(f"max(10, 5) = {nejvetsi}")

In [ ]:
# Maximum z více čísel
nejvetsi = max(15, 8, 23, 4, 16) # tuple
print(f"max(15, 8, 23, 4, 16) = {nejvetsi}")

In [ ]:
# Maximum v seznamu
skore = [85, 92, 78, 95, 88] # list
nejlepsi_skore = max(skore)
print(f"Nejlepší skóre: {nejlepsi_skore} bodů")

### Funkce sum() - součet

Funkce `sum()` vrací **součet všech prvků** v seznamu nebo jiné kolekci.

In [ ]:
# Součet čísel v seznamu
cisla = [10, 20, 30, 40]
soucet = sum(cisla)
print(f"Součet: {soucet}")

In [ ]:
# Praktické použití - celková cena
ceny = [150, 200, 75, 125]
celkova_cena = sum(ceny)
print(f"Celková cena: {celkova_cena} Kč")

#### ÚLOHA / DOPLNĚNÍ

Výpočet průměru pomocí sum() a len(), 
výsledek zobrazte na 2 desetinná místa

Průměrná známka: 3.17

In [ ]:
# Výpočet průměru pomocí sum() a len(), výsledek zobrazte na 2 desetinná místa
znamky = [1, 2, 1, 3, 7, 5]
prumer = ...
print(f"Průměrná známka: {prumer:.2f}")

### Funkce round() - zaokrouhlení

Funkce `round()` **zaokrouhluje desetinné číslo** na zadaný počet desetinných míst.

In [ ]:
# Zaokrouhlení na celé číslo
vysledek = round(3.7)
print(f"round(3.7) = {vysledek}")

vysledek = round(3.4)
print(f"round(3.4) = {vysledek}")

In [ ]:
# Zaokrouhlení na 2 desetinná místa
pi = 3.14159265
vysledek = round(pi, 2)
print(f"round(3.14159265, 2) = {vysledek}")

In [ ]:
# Praktické použití - ceny
cena_s_dph = 123.456789
cena_zaokrouhlena = round(cena_s_dph, 2)
print(f"Cena: {cena_zaokrouhlena} Kč")

## Funkce pro práci s kolekcemi

Python nabízí funkce, které pracují se seznamy, n-ticemi a dalšími kolekcemi dat.

### Funkce len() - délka

Funkce `len()` vrací **počet prvků** v seznamu, délku stringu nebo velikost jiné kolekce.

In [ ]:
# Délka seznamu
ovoce = ["jablko", "hruška", "banán", "pomeranč"]
pocet = len(ovoce)
print(f"Počet druhů ovoce: {pocet}")

In [ ]:
# Délka stringu
text = "Python"
delka = len(text)
print(f"Délka textu '{text}': {delka} znaků")

In [ ]:
# Prázdný seznam má délku 0
prazdny_seznam = []
print(f"Délka prázdného seznamu: {len(prazdny_seznam)}")

### Funkce sorted() - řazení

Funkce `sorted()` vrací **seřazený nový seznam** (nezmění původní seznam).

In [ ]:
# Řazení čísel vzestupně (od nejmenšího)
cisla = [5, 2, 8, 1, 9]
serazene = sorted(cisla)
print(f"Původní: {cisla}")
print(f"Seřazené: {serazene}")

In [ ]:
# Řazení sestupně (od největšího)
cisla = [5, 2, 8, 1, 9]
serazene = sorted(cisla, reverse=True)
print(f"Seřazené sestupně: {serazene}")

In [ ]:
# Řazení slov abecedně
jmena = ["Dana", "Anna", "Petr", "Karel"]
serazena = sorted(jmena)
print(f"Seřazená jména: {serazena}")

### Funkce reversed() - obrácení pořadí

Funkce `reversed()` vrací **iterátor s obráceným pořadím prvků**. Pro získání seznamu musíme použít `list()`.

In [ ]:
# Obrácení pořadí prvků
cisla = [1, 2, 3, 4, 5]
obracene = list(reversed(cisla))
print(f"Původní: {cisla}")
print(f"Obrácené: {obracene}")

In [ ]:
# Obrácení stringu
slovo = "Python"
obracene = ''.join(reversed(slovo))
print(f"Původní: {slovo}")
print(f"Obrácené: {obracene}")

## Funkce type() - zjištění datového typu

Funkce `type()` vrací **datový typ** dané proměnné nebo hodnoty.

In [ ]:
# Zjištění typu různých hodnot
print(type(42))           # int
print(type(3.14))         # float
print(type("text"))       # str
print(type(True))         # bool
print(type([1, 2, 3]))    # list

In [ ]:
# Praktické použití - kontrola typu
hodnota = "123"
print(f"Hodnota: {hodnota}")
print(f"Typ: {type(hodnota)}")

# Převod na int
cislo = int(hodnota)
print(f"Po převodu: {cislo}")
print(f"Typ: {type(cislo)}")

## Kombinování funkcí

Funkce můžeme **kombinovat** a vytvářet tak složitější operace.

#### Součet absolutních hodnot

In [ ]:
cisla = [-5, 10, -3, 7, -2]
print(f"Čísla: {cisla}")

In [ ]:
absolutni = [abs(x) for x in cisla]  # Absolutní hodnoty ! jenom ukazka
absolutni

In [ ]:
soucet = sum(absolutni)
soucet

#### Průměr z top 3 hodnot

In [ ]:
skore = [78, 92, 85, 95, 88, 76, 90]

In [ ]:
serazene = sorted(skore, reverse=True)
serazene

In [ ]:
top_3 = serazene[:3]
top_3

In [ ]:
prumer = sum(top_3) / len(top_3)
print(f"Průměr top 3: {round(prumer, 2)}")

#### ÚLOHA - STATISTIKA TEPLOT

Teploty za týden: [18, 22, 19, 25, 17, 23, 20]
Počet měření: 7
Minimální teplota: 17 °C
Maximální teplota: 25 °C
Průměrná teplota: 20.6 °C

In [ ]:
# Statistika teplot
teploty = [18, 22, 19, 25, 17, 23, 20]

print(f"Teploty za týden: {}")
print(f"Počet měření: {}")
print(f"Minimální teplota: {} °C")
print(f"Maximální teplota: {} °C")
print(f"Průměrná teplota: {} °C")

## Cvičení

Nyní si vyzkoušejte sami:

### Úkol 1: Absolutní hodnota

Máte proměnné `a = -15` a `b = 8`. Vypočítejte a vypište absolutní hodnotu jejich rozdílu.

In [ ]:
# Váš kód zde
a = -15
b = 8

### Úkol 2: Minimum a maximum

Máte seznam cen: `ceny = [250, 180, 320, 150, 290]`

Vypište nejlevnější a nejdražší cenu.

In [ ]:
# Váš kód zde
ceny = [250, 180, 320, 150, 290]

### Úkol 3: Součet a průměr

Máte seznam bodů ze zkoušek: `body = [85, 92, 78, 90, 88]`

Vypočítejte a vypište:
1. Celkový počet bodů
2. Průměrný počet bodů (zaokrouhlený na 2 desetinná místa)

In [ ]:
# Váš kód zde
body = [85, 92, 78, 90, 88]

### Úkol 4: Zaokrouhlování

Máte cenu s DPH: `cena = 1234.5678` Kč

Zaokrouhlete ji na:
1. Celé koruny
2. 2 desetinná místa (haléře)

In [ ]:
# Váš kód zde
cena = 1234.5678

### Úkol 5: Délka seznamu a stringu

Máte seznam měst: `mesta = ["Praha", "Brno", "Ostrava", "Plzeň"]`

Vypište:
1. Kolik měst je v seznamu
2. Kolik znaků má název prvního města v seznamu

In [ ]:
# Váš kód zde
mesta = ["Praha", "Brno", "Ostrava", "Plzeň"]

### Úkol 6: Řazení

Máte seznam známek: `znamky = [2, 1, 3, 1, 2, 4, 1, 3]`

Vypište:
1. Známky seřazené od nejlepší (1) po nejhorší
2. Známky seřazené od nejhorší po nejlepší

In [ ]:
# Váš kód zde
znamky = [2, 1, 3, 1, 2, 4, 1, 3]

### Úkol 7: Obrácení pořadí

Máte seznam dnů v týdnu: `dny = ["pondělí", "úterý", "středa", "čtvrtek", "pátek"]`

Vypište dny v obráceném pořadí.

In [ ]:
# Váš kód zde
dny = ["pondělí", "úterý", "středa", "čtvrtek", "pátek"]

### Úkol 8: Statistika nákupu

Máte seznam cen položek v nákupním košíku: `kosik = [45.50, 120.00, 33.25, 89.90, 156.00]`

Vypočítejte a vypište:
1. Počet položek
2. Celkovou cenu
3. Nejlevnější položku
4. Nejdražší položku
5. Průměrnou cenu na položku (zaokrouhlenou na 2 des. místa)

In [ ]:
# Váš kód zde
kosik = [45.50, 120.00, 33.25, 89.90, 156.00]

### Úkol 9: Analýza teplot

Máte teploty naměřené během dne v °C: `teploty = [15, 18, 22, 25, 24, 21, 17]`

Vypočítejte:
1. Minimální teplotu
2. Maximální teplotu
3. Teplotní rozdíl (max - min)
4. Průměrnou teplotu (zaokrouhlenou na 1 des. místo)
5. Teploty seřazené od nejnižší po nejvyšší

In [ ]:
# Váš kód zde
teploty = [15, 18, 22, 25, 24, 21, 17]

### Úkol 10: Kontrola typu

Vytvořte proměnné s různými typy dat:
- Celé číslo
- Desetinné číslo
- Text
- Seznam
- Logickou hodnotu

Vypište typ každé proměnné pomocí funkce `type()`.

In [ ]:
# Váš kód zde

## Shrnutí

V tomto notebooku jste se naučili:

### Funkce pro práci s čísly:
- `abs()` - absolutní hodnota čísla
- `min()` - nejmenší hodnota
- `max()` - největší hodnota
- `sum()` - součet prvků v kolekci
- `round()` - zaokrouhlení na zadaný počet desetinných míst

### Funkce pro práci s kolekcemi:
- `len()` - počet prvků (délka)
- `sorted()` - seřazení prvků (vzestupně nebo sestupně)
- `reversed()` - obrácení pořadí prvků

### Pomocná funkce:
- `type()` - zjištění datového typu

### Důležité:
- Tyto funkce jsou součástí **standardní knihovny** Pythonu
- Jsou **vždy dostupné** bez nutnosti importu
- Můžeme je **kombinovat** pro složitější operace
- Kompletní dokumentaci najdete na: https://docs.python.org/3/library/functions.html

**Tip:** Není nutné si pamatovat všechny funkce nazpaměť. Důležité je vědět, že existují, a v případě potřeby si je vyhledat v dokumentaci nebo na internetu!

V dalších hodinách se naučíme pracovat s podmínkami, cykly a dalšími strukturami!