# Series - základy

Series jsou jednorozměrná pole v knihovně Pandas. Můžete si je představit jako jeden sloupec v tabulce nebo databázi.

**Důležité vlastnosti Series:**
- Data v Series musí být jednoho konkrétního typu
- Každý sloupec v DataFrame je vlastně Series
- Series se skládá ze dvou částí: **index** a **data**

## Načtení dat

In [1]:
import pandas as pd

In [2]:
# Načtení dat ze souboru CSV
df_raw = pd.read_csv(
    r'..\data\product_prices.csv',  # cesta k souboru
    sep=';',                            # oddělovač sloupců
    decimal=','                         # znak pro desetinnou část
)

## DataFrame jako kolekce Series

Každý sloupec DataFrame je Series. Pojďme si to ověřit.

In [3]:
# Vytáhneme sloupec 'Value' z DataFrame
col = df_raw['Value'].head()

In [4]:
# Ověříme, že sloupec je typu Series
type(col)

pandas.core.series.Series

In [5]:
# Zobrazíme obsah Series
col

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: object

**Atribúty Series**

In [6]:
col.name

'Value'

In [7]:
col.values

array(['21.37', nan, '3.55', '6.14', '5.63'], dtype=object)

In [8]:
col.index

RangeIndex(start=0, stop=5, step=1)

## Základní aritmetické operace s čísly

Series umožňuje provádět operace na celém sloupci najednou.

### Sčítání

In [9]:
# Přičteme 1 ke každému prvku
col + 1

TypeError: can only concatenate str (not "int") to str

In [10]:
pd.to_numeric(col)

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: float64

In [11]:
pd.to_numeric(col) + 1

0    22.37
1      NaN
2     4.55
3     7.14
4     6.63
Name: Value, dtype: float64

In [12]:
col

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: object

In [13]:
col.astype(float)

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: float64

In [14]:
col

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: object

In [15]:
col = col.astype(float)

In [16]:
col

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: float64

### Odčítání

In [17]:
# Odečteme 5 od každého prvku
col - 5

0    16.37
1      NaN
2    -1.45
3     1.14
4     0.63
Name: Value, dtype: float64

### Násobení

In [18]:
# Vynásobíme všechny hodnoty
col * 2.5

0    53.425
1       NaN
2     8.875
3    15.350
4    14.075
Name: Value, dtype: float64

### Dělení

In [19]:
# Vydělíme každý prvek
col / 2.5

0    8.548
1      NaN
2    1.420
3    2.456
4    2.252
Name: Value, dtype: float64

### Úloha 1: Doplň kód

Vynásob všechny hodnoty v `col` číslem 10.

In [20]:
# Doplň kód
col * 10

0    213.7
1      NaN
2     35.5
3     61.4
4     56.3
Name: Value, dtype: float64

## Aritmetické operace mezi Series

Matematické operátory můžeme použít i pro práci se dvěma Series.

In [21]:
# Sečteme Series samu se sebou (prakticky vynásobíme 2)
col + col

0    42.74
1      NaN
2     7.10
3    12.28
4    11.26
Name: Value, dtype: float64

### Ruční vytvoření Series

Series můžeme vytvořit i ručně pomocí `pd.Series()`.

In [24]:
# Vytvoříme novou Series s hodnotami 0, 1, 2, 3, 4

In [22]:
pd.Series([0,1, 2, 3, 4])

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [23]:
pd.Series(range(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [26]:
len(col)

5

In [27]:
pd.Series(range(len(col)))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [28]:
col_example = pd.Series(range(len(col)))
col_example

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [29]:
# Sečteme dvě různé Series
col + col_example

0    21.37
1      NaN
2     5.55
3     9.14
4     9.63
dtype: float64

**Poznámka:** Pandas při operacích mezi Series používá indexy. Prvky se spojí podle indexů (0 k 0, 1 k 1 atd.) a až poté se provede operace.

### Co se stane při různé délce Series?

Pokud mají Series různou délku, výsledkem je delší Series s chybějícími hodnotami (NaN).

In [30]:
# Vytvoříme Series s jedním řádkem méně
col_example2 = pd.Series(
    range(len(col) - 1)
)

In [31]:
col_example2

0    0
1    1
2    2
3    3
dtype: int64

In [32]:
# Sečteme Series různé délky - vznikne NaN
col + col_example2

0    21.37
1      NaN
2     5.55
3     9.14
4      NaN
dtype: float64

### Úloha 2: Oprav chybu

V následujícím kódu je chyba. Najdi ji a oprav.

In [ ]:
# Chceme vytvořit Series s hodnotami [10, 20, 30]
moje_series = pd.series([10, 20, 30])
moje_series

### Úloha 3: Vytvoř kód

Vytvoř Series s názvem `ceny` obsahující hodnoty: 100, 250, 180, 320. Poté všechny ceny sniž o 15%.

In [ ]:
# Tvůj kód zde

## Metoda unique()

Metoda `unique()` vrací pole unikátních hodnot ve sloupci. Užitečné pro zjištění, jaké hodnoty se v datech vyskytují.

In [ ]:
# Zobrazíme unikátní hodnoty ve sloupci 'Name'
df_raw['Name'].unique()

### Úloha 4: Doplň kód

Zjisti, jaké unikátní hodnoty obsahuje sloupec `Value` v DataFrame `df_raw`.

In [ ]:
# Doplň kód
df_raw[___].___

### Úloha 5: Otázky k zamyšlení

1. Co se stane s hodnotou NaN při aritmetické operaci (např. NaN + 5)?
2. Proč je důležité, aby index měl stejnou délku jako data?
3. Jaký je rozdíl mezi DataFrame a Series?

**Tvoje odpovědi:**

### Úloha 6: Vytvoř kód

Vytvoř dvě Series `a` a `b`, každou se třemi číselnými hodnotami. Poté:
- Sečti je
- Vynásob je
- Vyděl `a` hodnotou `b`

In [ ]:
# Tvůj kód zde