# Series - základy

Series jsou jednorozměrná pole v knihovně Pandas. Můžete si je představit jako jeden sloupec v tabulce nebo databázi.

**Důležité vlastnosti Series:**
- Data v Series musí být jednoho konkrétního typu
- Každý sloupec v DataFrame je vlastně Series
- Series se skládá ze dvou částí: **index** a **data**

## Načtení dat

In [ ]:
import pandas as pd

In [ ]:
# Načtení dat ze souboru CSV
df_raw = pd.read_csv(
    r'..\data\product_prices.csv',  # cesta k souboru
    sep=';',                            # oddělovač sloupců
    decimal=','                         # znak pro desetinnou část
)

## DataFrame jako kolekce Series

Každý sloupec DataFrame je Series. Pojďme si to ověřit.

In [ ]:
# Vytáhneme sloupec 'Value' z DataFrame
col = df_raw['Value'].head()

In [ ]:
# Ověříme, že sloupec je typu Series
type(col)

In [ ]:
# Zobrazíme obsah Series
col

**Atribúty Series**

In [ ]:
col.name

In [ ]:
col.values

In [ ]:
col.index

## Základní aritmetické operace s čísly

Series umožňuje provádět operace na celém sloupci najednou.

### Sčítání

In [ ]:
# Přičteme 1 ke každému prvku
col + 1

In [ ]:
pd.to_numeric(col) + 1

In [ ]:
col

In [ ]:
col = col.astype(float)

In [ ]:
col

### Odčítání

In [ ]:
# Odečteme 5 od každého prvku
col - 5

### Násobení

In [ ]:
# Vynásobíme všechny hodnoty
col * 2.5

### Dělení

In [ ]:
# Vydělíme každý prvek
col / 2.5

### Úloha 1: Doplň kód

Vynásob všechny hodnoty v `col` číslem 10.

In [ ]:
# Doplň kód
col ___

## Aritmetické operace mezi Series

Matematické operátory můžeme použít i pro práci se dvěma Series.

In [ ]:
# Sečteme Series samu se sebou (prakticky vynásobíme 2)
col + col

### Ruční vytvoření Series

Series můžeme vytvořit i ručně pomocí `pd.Series()`.

In [ ]:
# Vytvoříme novou Series s hodnotami 0, 1, 2, 3, 4
col_example = pd.Series(
    range(len(col))
)

In [ ]:
col_example

In [ ]:
# Sečteme dvě různé Series
col + col_example

**Poznámka:** Pandas při operacích mezi Series používá indexy. Prvky se spojí podle indexů (0 k 0, 1 k 1 atd.) a až poté se provede operace.

### Co se stane při různé délce Series?

Pokud mají Series různou délku, výsledkem je delší Series s chybějícími hodnotami (NaN).

In [ ]:
# Vytvoříme Series s jedním řádkem méně
col_example2 = pd.Series(
    range(len(col) - 1)
)

In [ ]:
col_example2

In [ ]:
# Sečteme Series různé délky - vznikne NaN
col + col_example2

### Úloha 2: Oprav chybu

V následujícím kódu je chyba. Najdi ji a oprav.

In [ ]:
# Chceme vytvořit Series s hodnotami [10, 20, 30]
moje_series = pd.series([10, 20, 30])
moje_series

### Úloha 3: Vytvoř kód

Vytvoř Series s názvem `ceny` obsahující hodnoty: 100, 250, 180, 320. Poté všechny ceny sniž o 15%.

In [ ]:
# Tvůj kód zde

## Metoda unique()

Metoda `unique()` vrací pole unikátních hodnot ve sloupci. Užitečné pro zjištění, jaké hodnoty se v datech vyskytují.

In [ ]:
# Zobrazíme unikátní hodnoty ve sloupci 'Name'
df_raw['Name'].unique()

### Úloha 4: Doplň kód

Zjisti, jaké unikátní hodnoty obsahuje sloupec `Value` v DataFrame `df_raw`.

In [ ]:
# Doplň kód
df_raw[___].___

### Úloha 5: Otázky k zamyšlení

1. Co se stane s hodnotou NaN při aritmetické operaci (např. NaN + 5)?
2. Proč je důležité, aby index měl stejnou délku jako data?
3. Jaký je rozdíl mezi DataFrame a Series?

**Tvoje odpovědi:**

### Úloha 6: Vytvoř kód

Vytvoř dvě Series `a` a `b`, každou se třemi číselnými hodnotami. Poté:
- Sečti je
- Vynásob je
- Vyděl `a` hodnotou `b`

In [ ]:
# Tvůj kód zde