# Na캜칤t치n칤 dat v Pandas

**DataFrame** je jednou ze z치kladn칤ch datov칳ch struktur v knihovn캩 Pandas. M콢쬰me si ho p콏edstavit jako dvourozm캩rnou tabulku podobnou tabulk치m v SQL nebo tabulkov칠m procesoru. Ka쬯칳 sloupec m치 sv콢j specifick칳 datov칳 typ.

V t칠to lekci se nau캜칤me na캜칤tat data z r콢zn칳ch zdroj콢 do DataFrame.

## Import knihovny Pandas

Nejprve mus칤me importovat knihovnu Pandas. Standardn캩 se pou쮂셨치 zkratka `pd`.

In [1]:
import pandas as pd

## Metody pro na캜칤t치n칤 dat

V코echny metody pro import dat za캜칤naj칤 prefixem `read_*`. Nejpou쮂셨an캩j코칤 jsou:

- `read_csv()` - 캜te data z CSV soubor콢 (comma-separated values)
- `read_excel()` - 캜te data z Excel soubor콢
- `read_sql()` - 캜te data z datab치ze

Bez ohledu na pou쬴tou metodu je v칳sledkem v쬯y objekt typu `pandas.DataFrame`.

## read_csv()

Metoda `read_csv()` slou쮂 k na캜칤t치n칤 dat ze souboru .csv do DataFrame.

In [ ]:
# Z치kladn칤 na캜ten칤 CSV souboru
df_raw = pd.read_csv(
    '../Data/product_prices.csv',  # cesta k souboru s daty
    sep=';',                          # odd캩lova캜 sloupc콢
    decimal=','                       # znak odd캩luj칤c칤 celou a desetinnou 캜치st 캜칤sla
)

In [ ]:
type(df_raw)

In [ ]:
df_raw

In [ ]:
df_raw.head(2)

In [ ]:
# Zobrazen칤 prvn칤ch 콏치dk콢 pomoc칤 metody head()
df_raw.head()

### D콢le쬴t칠 parametry read_csv()

- `filepath_or_buffer` - cesta k souboru (prvn칤 argument, m콢쬰me n치zev vynechat)
- `sep` - odd캩lova캜 sloupc콢 (v칳choz칤 je `,`, ale 캜asto se pou쮂셨치 `;`)
- `encoding` - k칩dov치n칤 znak콢 (v칳choz칤 je `UTF-8`)
- `decimal` - odd캩lova캜 desetinn칳ch m칤st (v칳choz칤 je `.`, ale v n캩kter칳ch zem칤ch se pou쮂셨치 `,`)

### 游댢 칔LOHA / DOPLN캨N칈

Dopl켿te chyb캩j칤c칤 parametry pro na캜ten칤 CSV souboru, kter칳:
- pou쮂셨치 st콏edn칤k jako odd캩lova캜 sloupc콢
- pou쮂셨치 캜치rku jako odd캩lova캜 desetinn칳ch m칤st

In [ ]:
# Dopl켿te chyb캩j칤c칤 parametry
df = pd.read_csv(
    '../Data/product_prices.csv',
    sep = ';',      # odd캩lova캜 sloupc콢
    decimal = '.' # desetinn칳 odd캩lova캜
)

### 游댢 칔LOHA / OPRAVA CHYB

V n치sleduj칤c칤m k칩du jsou chyby. Najd캩te je a opravte.

In [ ]:
# Opravte chyby v k칩du
df = pd.read_csv(
    '../Data/bank_age_target.csv',
    sep =',',
    decimal='.'
)

## read_excel()

Metoda `read_excel()` na캜칤t치 data z tabulkov칠ho procesoru (Excel) a vrac칤 DataFrame.

r'..\Data\product_prices.xlsx'
'../Data/bank_age_target.csv'

In [2]:
df_raw = pd.read_excel('../Data/product_prices.xlsx')

In [3]:
df_raw.head(2)

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date,Unnamed: 7
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3,NaN
1,켸칍D콫,NaN,PLN,4,bread - per 1kg,NaN,2018-2,NaN

In [ ]:
# Na캜ten칤 dat z Excel souboru
df_raw = pd.read_excel(
    r'..\Data\product_prices.xlsx',  # cesta k souboru
    sheet_name='product_prices'                    # n치zev listu s daty
)

In [4]:
# Zobrazen칤 prvn칤ch 콏치dk콢
df_raw.head()

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date,Unnamed: 7
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3,NaN
1,켸칍D콫,NaN,PLN,4,bread - per 1kg,NaN,2018-2,NaN
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12,NaN
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2,NaN
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3,NaN

### D콢le쬴t칠 parametry read_excel()

- `io` - cesta k souboru (prvn칤 argument)
- `sheet_name` - n치zev nebo index listu (indexov치n칤 od 0)

Podporovan칠 form치ty: `.xls`, `.xlsx`, `.xlsm`, `.xlsb`, `.odf`, `.ods`, `.odt`

**Tip:** Lep코칤 je odkazovat se na list podle n치zvu ne podle indexu, proto쬰 n캩kter칠 listy mohou b칳t skryt칠.

### 游댢 칔LOHA / DOPLN캨N칈

Dopl켿te k칩d pro na캜ten칤 Excel souboru `dims.xlsx`, kde jsou data na listu s n치zvem `d_product`.

In [5]:
# Dopl켿te chyb캩j칤c칤 캜치sti
df_dimenze = pd.read_excel(
    '../Data/dims.xlsx',
    sheet_name='d_product'
)

In [6]:
df_dimenze.head()

   product_id                          product  product_group_id
0          20        pork ham cooked - per 1kg                 2
1          26                  bread - per 1kg                 4
2          10  barley groats sausage - per 1kg                 2
3          12       dressed chickens - per 1kg                 2
4          19    Italian head cheese - per 1kg                 2

### 游댢 칔LOHA / OPRAVA CHYB

V n치sleduj칤c칤m k칩du jsou chyby. Najd캩te je a opravte.

In [ ]:
# Opravte chyby v k칩du
df = pd.read_excel
    'config.xlsx',
    sheetname='List1'
)

## 캛ast칠 chyby p콏i na캜칤t치n칤 soubor콢

Pokud soubor neexistuje nebo je cesta nespr치vn치, dostanete chybu `FileNotFoundError`.

Ujist캩te se, 쬰:
- cesta k souboru je spr치vn치
- soubor skute캜n캩 existuje
- m치te spr치vn치 opr치vn캩n칤 pro 캜ten칤 souboru

### 游댢 칔LOHA / OT츼ZKY

Odpov캩zte na n치sleduj칤c칤 ot치zky:

1. Jak칳 je v칳choz칤 odd캩lova캜 sloupc콢 v metod캩 `read_csv()`?

2. Jak칳 parametr pou쬴jete, pokud chcete na캜칤st konkr칠tn칤 list z Excel souboru?

3. Jak칳 datov칳 typ vrac칤 metody `read_csv()` a `read_excel()`?

*Va코e odpov캩di:*

1. 

2. 

3.

### 游댢 칔LOHA / VYTVO콎EN칈 K칍DU

Napi코te kompletn칤 k칩d, kter칳:
1. Importuje knihovnu pandas
2. Na캜te CSV soubor `zakaznici.csv` s odd캩lova캜em `;`
3. Zobraz칤 prvn칤ch 10 콏치dk콢 pomoc칤 metody `head()`

In [ ]:
# V치코 k칩d zde:

### 游댢 칔LOHA / VYTVO콎EN칈 K칍DU

Napi코te k칩d, kter칳 na캜te Excel soubor `objednavky.xlsx` z listu `Leden` a zobraz칤 prvn칤ch 5 콏치dk콢.

In [ ]:
# V치코 k칩d zde:

In [8]:
file = pd.ExcelFile('../Data/dims.xlsx')
file.sheet_names

['d_province', 'd_product', 'd_product_group']